<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>

        body{
            text-align: center;
            margin: 0px;
        }

        a{
            background-color: blueviolet;
            border: inset;
            color: white;
            padding: 10px 24px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            margin: 4px 2px;
            cursor: pointer;
            font-family: 'Lemonada', cursive;
            color: white;
            text-shadow: black 1px 1px 0, black -1px -1px 0, 
                         black   -1px 1px 0, black 1px -1px 0;
            width: 30%;
            }
         
         h1{
            font-family: 'Lemonada', cursive;
            color: white;
            text-shadow: black 1px 1px 0, black -1px -1px 0, 
                         black   -1px 1px 0, black 1px -1px 0;
            background-color:blueviolet;
            text-align: center;
         }

        h2{
            font-family: 'Lemonada', cursive;
            color: white;
            text-shadow: black 1px 1px 0, black -1px -1px 0, 
                         black   -1px 1px 0, black 1px -1px 0;
            background-color:rgb(235, 19, 19);
            text-align: center;
        }
          div{
              margin-top: 40px;
              text-align: center;
          }
    </style>
    <title>Main</title>

</head>
<body background="./img/BGMain.jpg">
    
    <h1>Результат загрузки</h1>
    <div><h2>{{resultLouding}}</h2></div>
    <div> 
        <a href="/download"><h1>Добавить панораму в виртуальную экскурсию</h1></a>
        
        <a href="/listOfPanoram"><h1>Просмотр списка виртуальных экскурсий</h1></a>
    </div>
</body>

</html>