<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{nameCollection}}</title>
		<style>
			body { margin: 0; }
		</style>
	</head>
	<body>
		 <script src="//cdn.rawgit.com/mrdoob/three.js/master/build/three.js"></script>
	
<style>
	
  body{
      margin: 0;
      overflow: hidden;
  }
  #info {
      position: absolute;
      background-color: rgba(0,0,0,0.5);
      color: white;
      font-family: Arial, sans-serif;
      font-size: 18px;
      padding: 0 10px 0 10px;
      opacity: 0;
  }
</style>	
		<script src='../scripts/panoram.js' > </script> 

		
	</>
</html>